{% extends "base.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
      


  <h1 class="my-4">
    
Статусы

  </h1>
  
<a class="nav-link" href="/statuses/create/">Создать статус</a>
<table class="table table-striped">
<thead>
<tr>
  <th>ID</th>
  <th>Имя</th>
  <th>Дата создания</th>
  <th></th>
</tr>
</thead>
<tbody>

  <tr>
    <td>1</td>
    <td>234234232</td>
    <td>29.01.2023 19:46</td>
    <td>
      <a href="/statuses/1/update/">Изменить</a>
      <br>
      <a href="/statuses/1/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>4</td>
    <td>jjj</td>
    <td>30.01.2023 06:28</td>
    <td>
      <a href="/statuses/4/update/">Изменить</a>
      <br>
      <a href="/statuses/4/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>5</td>
    <td>Мутим дела</td>
    <td>31.01.2023 16:54</td>
    <td>
      <a href="/statuses/5/update/">Изменить</a>
      <br>
      <a href="/statuses/5/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>8</td>
    <td>esses;;</td>
    <td>02.02.2023 19:28</td>
    <td>
      <a href="/statuses/8/update/">Изменить</a>
      <br>
      <a href="/statuses/8/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>15</td>
    <td>в работе</td>
    <td>09.02.2023 10:24</td>
    <td>
      <a href="/statuses/15/update/">Изменить</a>
      <br>
      <a href="/statuses/15/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>17</td>
    <td>1</td>
    <td>10.02.2023 08:57</td>
    <td>
      <a href="/statuses/17/update/">Изменить</a>
      <br>
      <a href="/statuses/17/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>19</td>
    <td>zx</td>
    <td>11.02.2023 11:35</td>
    <td>
      <a href="/statuses/19/update/">Изменить</a>
      <br>
      <a href="/statuses/19/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>21</td>
    <td>111</td>
    <td>14.02.2023 11:05</td>
    <td>
      <a href="/statuses/21/update/">Изменить</a>
      <br>
      <a href="/statuses/21/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>22</td>
    <td>проверка</td>
    <td>14.02.2023 20:22</td>
    <td>
      <a href="/statuses/22/update/">Изменить</a>
      <br>
      <a href="/statuses/22/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>23</td>
    <td>!!!СРОЧНО ДЕДЛАЙН!!!</td>
    <td>14.02.2023 20:24</td>
    <td>
      <a href="/statuses/23/update/">Изменить</a>
      <br>
      <a href="/statuses/23/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>24</td>
    <td>sas</td>
    <td>15.02.2023 21:47</td>
    <td>
      <a href="/statuses/24/update/">Изменить</a>
      <br>
      <a href="/statuses/24/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>25</td>
    <td>учеба</td>
    <td>16.02.2023 21:09</td>
    <td>
      <a href="/statuses/25/update/">Изменить</a>
      <br>
      <a href="/statuses/25/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>26</td>
    <td>хобби</td>
    <td>16.02.2023 21:27</td>
    <td>
      <a href="/statuses/26/update/">Изменить</a>
      <br>
      <a href="/statuses/26/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>28</td>
    <td>my status</td>
    <td>18.02.2023 05:52</td>
    <td>
      <a href="/statuses/28/update/">Изменить</a>
      <br>
      <a href="/statuses/28/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>30</td>
    <td>fox around</td>
    <td>18.02.2023 11:12</td>
    <td>
      <a href="/statuses/30/update/">Изменить</a>
      <br>
      <a href="/statuses/30/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>31</td>
    <td>fur</td>
    <td>18.02.2023 13:21</td>
    <td>
      <a href="/statuses/31/update/">Изменить</a>
      <br>
      <a href="/statuses/31/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>34</td>
    <td>мыыыы</td>
    <td>19.02.2023 03:03</td>
    <td>
      <a href="/statuses/34/update/">Изменить</a>
      <br>
      <a href="/statuses/34/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>37</td>
    <td>СрочноВажно</td>
    <td>26.02.2023 12:32</td>
    <td>
      <a href="/statuses/37/update/">Изменить</a>
      <br>
      <a href="/statuses/37/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>42</td>
    <td>moystatus</td>
    <td>06.03.2023 13:52</td>
    <td>
      <a href="/statuses/42/update/">Изменить</a>
      <br>
      <a href="/statuses/42/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>45</td>
    <td>super</td>
    <td>07.03.2023 22:57</td>
    <td>
      <a href="/statuses/45/update/">Изменить</a>
      <br>
      <a href="/statuses/45/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>48</td>
    <td>Статус</td>
    <td>12.03.2023 18:43</td>
    <td>
      <a href="/statuses/48/update/">Изменить</a>
      <br>
      <a href="/statuses/48/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>49</td>
    <td>qqq</td>
    <td>15.03.2023 14:14</td>
    <td>
      <a href="/statuses/49/update/">Изменить</a>
      <br>
      <a href="/statuses/49/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>50</td>
    <td>Новая статья</td>
    <td>15.03.2023 14:38</td>
    <td>
      <a href="/statuses/50/update/">Изменить</a>
      <br>
      <a href="/statuses/50/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>52</td>
    <td>qqqq</td>
    <td>15.03.2023 19:39</td>
    <td>
      <a href="/statuses/52/update/">Изменить</a>
      <br>
      <a href="/statuses/52/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>53</td>
    <td>Cool</td>
    <td>16.03.2023 16:26</td>
    <td>
      <a href="/statuses/53/update/">Изменить</a>
      <br>
      <a href="/statuses/53/delete/">Удалить</a>
    </td>
  </tr>

</tbody>
</table>

</div>
{% endblock %}