{% extends "base.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
      


  <h1 class="my-4">
    
Метки

  </h1>
  
<a class="nav-link" href="/labels/create/">Создать метку</a>
<table class="table table-striped">
<thead>
<tr>
  <th>ID</th>
  <th>Имя</th>
  <th>Дата создания</th>
  <th></th>
</tr>
</thead>
<tbody>

  <tr>
    <td>3</td>
    <td>3333</td>
    <td>29.01.2023 19:46</td>
    <td>
      <a href="/labels/3/update/">Изменить</a>
      <br>
      <a href="/labels/3/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>4</td>
    <td>odhako1</td>
    <td>30.01.2023 06:28</td>
    <td>
      <a href="/labels/4/update/">Изменить</a>
      <br>
      <a href="/labels/4/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>6</td>
    <td>DEBUG</td>
    <td>03.02.2023 14:31</td>
    <td>
      <a href="/labels/6/update/">Изменить</a>
      <br>
      <a href="/labels/6/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>8</td>
    <td>lkjhjgh</td>
    <td>08.02.2023 21:37</td>
    <td>
      <a href="/labels/8/update/">Изменить</a>
      <br>
      <a href="/labels/8/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>9</td>
    <td>1</td>
    <td>10.02.2023 08:57</td>
    <td>
      <a href="/labels/9/update/">Изменить</a>
      <br>
      <a href="/labels/9/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>11</td>
    <td>qwerty</td>
    <td>17.02.2023 12:50</td>
    <td>
      <a href="/labels/11/update/">Изменить</a>
      <br>
      <a href="/labels/11/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>13</td>
    <td>Complex Numbers1</td>
    <td>19.02.2023 14:26</td>
    <td>
      <a href="/labels/13/update/">Изменить</a>
      <br>
      <a href="/labels/13/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>15</td>
    <td>обучение на хекслете</td>
    <td>26.02.2023 13:08</td>
    <td>
      <a href="/labels/15/update/">Изменить</a>
      <br>
      <a href="/labels/15/delete/">Удалить</a>
    </td>
  </tr>

  <tr>
    <td>18</td>
    <td>Метка</td>
    <td>12.03.2023 18:43</td>
    <td>
      <a href="/labels/18/update/">Изменить</a>
      <br>
      <a href="/labels/18/delete/">Удалить</a>
    </td>
  </tr>

</tbody>
</table>

</div>
{% endblock %}