<!-- hexlet_django_blog/templates/base.html -->

<!DOCTYPE html>
<html>
  {% load i18n %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Task manager" %}</title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery="full" %}
  {% bootstrap_messages %}
</head>
<body class="d-flex flex-column min-vh-100">
  {% include "components/header.html" %}
  {% block content %}
  {% endblock %}
  {% include "components/footer.html" %}
</body>
</html>