{% extends "base.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
      


  <h1 class="my-4">
    
Изменение задачи

  </h1>
  
<form method="post">
<input type="hidden" name="csrfmiddlewaretoken" value="xH6yNjfsOnkvDrMG046Xxsv9093jUUJuDVBh9VpyJomHtXHtJrMaBPMssVxgswKa">
<div class="form-group"><label for="id_name">Имя</label><input type="text" name="name" value="У коровы нет других забот" maxlength="150" class="form-control" placeholder="Имя" title="" required="" id="id_name"></div>
<div class="form-group"><label for="id_description">Описание</label><textarea name="description" cols="40" rows="10" class="form-control" placeholder="Описание" title="" id="id_description">Ест траву и молоко дает

для кого старается, она?
для меня, для меня, для меня!</textarea></div>
<div class="form-group"><label for="id_status">Статус</label><select name="status" class="form-control" title="" required="" id="id_status">
<option value="">---------</option>

<option value="1" selected="">234234232</option>

<option value="4">jjj</option>

<option value="5">Мутим дела</option>

<option value="8">esses;;</option>

<option value="15">в работе</option>

<option value="17">1</option>

<option value="19">zx</option>

<option value="21">111</option>

<option value="22">проверка</option>

<option value="23">!!!СРОЧНО ДЕДЛАЙН!!!</option>

<option value="24">sas</option>

<option value="25">учеба</option>

<option value="26">хобби</option>

<option value="28">my status</option>

<option value="30">fox around</option>

<option value="31">fur</option>

<option value="34">мыыыы</option>

<option value="37">СрочноВажно</option>

<option value="42">moystatus</option>

<option value="45">super</option>

<option value="48">Статус</option>

<option value="49">qqq</option>

<option value="50">Новая статья</option>

<option value="52">qqqq</option>

<option value="53">Cool</option>

</select></div>
<div class="form-group"><label for="id_executor">Исполнитель</label><select name="executor" class="form-control" title="" id="id_executor">
<option value="">---------</option>

<option value="1">1234 123111</option>

<option value="2">Firstname Lastname</option>

<option value="3">ANDRE FEO</option>

<option value="6">Odhako Default</option>

<option value="7">dsadsa dsadas</option>

<option value="8">фыва фыва</option>

<option value="9">Айрис Рейн</option>

<option value="11">admin admin</option>

<option value="12">Tosterq Пелевин</option>

<option value="14">asdasd asdasd</option>

<option value="15">Chudilo44 Артём</option>

<option value="16">test1 Артём</option>

<option value="17">test test</option>

<option value="18">v g12</option>

<option value="19">ppppp pppp</option>

<option value="20">test4 test4</option>

<option value="21">asdsad dsadsa</option>

<option value="22">asdqwrewr asdfgdreq</option>

<option value="23">Игорь Гахов</option>

<option value="24">VASYA KOLYA</option>

<option value="25">sfsdf sdfsdf</option>

<option value="26">UserN UserL</option>

<option value="27">Esmirald Tigrillov</option>

<option value="28">1 2</option>

<option value="29">ffff fffff</option>

<option value="30">vadvi sfsd</option>

<option value="31">hex let</option>

<option value="32">123 123</option>

<option value="33">123 456</option>

<option value="34">poi lkj</option>

<option value="35">iris raine</option>

<option value="38">imya familia</option>

<option value="42">Red Fox</option>

<option value="43">fox fox</option>

<option value="44">Лисица Рыжая</option>

<option value="45">tv tropes</option>

<option value="46">First Name Last Name</option>

<option value="47">Вас Авф</option>

<option value="48">Очень длинное пользовательское имя для проверки формы фильтрации</option>

<option value="49">SCS Software</option>

<option value="50">Mark aaф</option>

<option value="51">беня гофман</option>

<option value="52">New User</option>

<option value="55">Delete Test</option>

<option value="56">Павел Николаевский</option>

<option value="57">abc123 abc123</option>

<option value="58">алексей субач</option>

<option value="59">Какое то им Какая то фамилия</option>

<option value="60">Анатолий Высоколян</option>

<option value="62">First_name_user_1))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) Last_name_user_1))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))</option>

<option value="64">first_name last_name</option>

<option value="65">123 145</option>

<option value="66">1234 123111</option>

<option value="67">Check Checker</option>

<option value="68">123 123</option>

<option value="69">fads fda</option>

<option value="70">Al ex</option>

<option value="71" selected="">Sailor Sailor</option>

<option value="73">Дмитрий Щербина</option>

<option value="74">test_user test_user</option>

<option value="77">Andresh eo</option>

<option value="78">Сергей Ким</option>

<option value="79">Sa ga</option>

<option value="80">Matvei Khmyzov</option>

<option value="81">Iaroslav Kasatkin</option>

<option value="82">Frodo Bagins</option>

<option value="83">М Р</option>

<option value="84">nico bellic</option>

<option value="85">a asa</option>

<option value="86">1234 23525</option>

<option value="87">Ва ASdsasas</option>

<option value="88">ii ivan</option>

<option value="90">Дюща Трактаристов</option>

<option value="92">чсфывя ячсфыввф</option>

<option value="93">1 2</option>

<option value="94">a s</option>

<option value="95">ad ddd</option>

<option value="96">Дедушкины сказки (Жесть)</option>

<option value="98">Iaroslavqwerty Kasatkinqwe</option>

<option value="99">aaaa aaaa</option>

<option value="100">Iaroslav Kasatkin</option>

<option value="101">qwe qwe</option>

<option value="102">1122 1</option>

<option value="106">a a</option>

<option value="107">qqq qqq</option>

<option value="108">eee eee</option>

<option value="110">1234 asa</option>

<option value="111">Al ex</option>

<option value="112">q `12</option>

<option value="114">kkb bb</option>

</select></div>
<div class="form-group"><label for="id_labels">Метки</label><select name="labels" class="form-control" title="" id="id_labels" multiple="">
<option value="3">3333</option>

<option value="4" selected="">odhako1</option>

<option value="6" selected="">DEBUG</option>

<option value="8" selected="">lkjhjgh</option>

<option value="9" selected="">1</option>

<option value="11" selected="">qwerty</option>

<option value="13">Complex Numbers1</option>

<option value="15">обучение на хекслете</option>

<option value="18">Метка</option>

</select></div>
<div class="form-group">
<input class="btn btn-primary" type="submit" value="Изменить">
</div>
</form>

</div>
{% endblock %}